/*===============================
    Variables
================================*/
:root {
  /* Color */
  --white: #FFFFFF;
  --off-black: #1A0005;
  --background-color-grey: #d6d6d6;
  --red-900: #3E0A14;
  --red-700: #651021;
  --red-500: #84152B;
  --red-300: #B7162C;
  --blue-300: #2176C0;
  /* Font Size */
  /* Body */
  --font-xs: 0.75rem; /* 12px | helper / caption */
  --font-sm: 0.875rem; /* 14px | button / nav / label */
  --font-base: 1rem; /* 16px | p (body) */
  --font-md: 1.125rem; /* 18px | lead text */
  /* Heading */
  --font-xl: 1.25rem; /* 20px | h4 (mobile & desktop) */
  --font-2xl: 1.5rem; /* 24px | h3 (mobile & desktop) */
  --font-3xl: 1.875rem; /* 30px | h2 (mobile) */
  --font-4xl: 2.25rem; /* 36px | h2 / h1 (mobile) */
  --font-5xl: 3rem; /* 48px | h1 (desktop) */
  --font-6xl: 3.75rem; /* 60px | hero (desktop only) */
  /* Container */
  --container-max-width: 1232px;
}

/*===============================
    General
================================*/
html {
  font-size: 100%;
}

body {
  font-size: var(--font-base);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.site-main {
  background-color: var(--background-color-grey);
  width: 100%;
  padding: 2rem;
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
}

/*===============================
    Typographic Styles
================================*/
h1, h2, h3, h4 {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h3, h4 {
  font-weight: 400;
}

/*===============================
    Header
================================*/
.site-header {
  display: flex;
  align-items: center;
  height: 8.75rem;
  padding: 0 2rem;
}
.site-header .site-branding {
  display: flex;
}
.site-header .main-navigation .menu-toggle {
  background-color: transparent;
  border: none;
}
.site-header .main-navigation .menu-toggle svg {
  width: 2.75rem;
  height: 2.75rem;
}
.site-header .main-navigation .menu.nav-menu {
  border: 1px solid red;
  display: flex;
  gap: 4.375rem;
  justify-content: flex-end;
}
.site-header .main-navigation .menu.nav-menu a {
  color: var(--red-700);
}

/*===============================
    Home Page
================================*/
.home .container .hero-banner {
  border: 1px solid red;
}
.home .container .hero-banner img {
  width: 100%;
}
.home .card-container .card .wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}
.home .card-container .card .wp-block-group__inner-container .wp-block-image {
  border: 1px solid yellow;
  width: 100%;
}

/*===============================
    About Page
================================*/
/*===============================
    Contact Page
================================*/
/*===============================
    Footer
================================*/
/*===============================
    Media Query
================================*/
@media screen and (min-width: 768px) {
  .home .card-container .wp-block-group__inner-container {
    display: flex;
  }
  .home .card-container .card .wp-block-group__inner-container {
    border: 1px solid red;
  }
}/*# sourceMappingURL=custom.css.map */